/* index.css or your global stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Other styles and CSS rules go here */

body {
    font-family: 'Poppins', sans-serif;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;

.customGradientProgressBarWrapper{
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    height: 12px;
}
.redBg{
    background-color: rgb(255, 218, 218);
}
.customGradientProgressBar{
    height: 12px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.primaryG{
    background: linear-gradient(to right, rgba(0, 160, 238, 0.4), rgb(0, 160, 238));
}
.secondaryG{
    background: linear-gradient(to right, rgb(221, 135, 135), rgb(255, 102, 102));
}

.flowbite-modal {
    border-radius: 30px !important; /* Adjust the border-radius as needed */
  }
